*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

main{
    width: 100%;
}

header{
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(32, 18, 51);
    color: wheat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
header a {
    font-size: 2rem;
    font-weight: 700;
    color:rgb(140, 101, 196);
    text-decoration: none;
}

nav a {
    color:rgba(255, 255, 255, 0.527);
    font-weight: normal;
    text-shadow: 4px 4px 8px rgba(87, 83, 83, 0.5);
    font-size: 0.8rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    padding: 10px 12px;
    border-radius: 9px;
    transition: color .2s ease-in;
    text-transform: capitalize;
}

nav a:hover {
    color: rgb(255, 255, 255);
    border: .5px solid rgba(245, 222, 179, 0.397)
}

section#table-section{
    padding: 120px 50px;
}

section#table-section h1{
    padding: 14px 0;
}

.live{
    color:rgb(245, 245, 245);
    padding: 2px 5px;
    background-color: rgb(23, 4, 41);
    border-radius: 10px;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}






/* updates page */

#info-section{
    padding: 100px ;
    margin-top: 50px;
}

#info {
    margin-top: 20px;
}
#article-header {
    background-color: rgba(245, 222, 179, 0.397);
    background-image: url('assets/images/white-book.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    width: 100%;
    /* height: 500px; */
    padding: 100px;
    border-radius: 40px;
}

#article-header h2{
    font-size: 4rem;
    background-color:rgb(32, 18, 51);
    color: wheat;
    text-align: center;
    border-radius: inherit;
}

.subHeading{
    font-size: 1.5rem;
    color: rgb(32, 18, 51);
    text-align: left;
    margin: 20px 0;
    background-color: rgba(245, 222, 179, 0.397);
    padding: 10px 20px;
}

.hashtags{
    font-size: 1.2rem;
    color: rgb(32, 18, 51);
    text-align: left;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: 600;
}

li{
    margin-left: 50px;
    padding: 10px 0;
    font-size: 1.2rem;
}

footer {
    text-align: center;
    background-color:rgb(32, 18, 51);
    color: wheat;
    padding: 20px;
    font-size: .9rem;
}


@media  (max-width: 900px){
    section#table-section{
        padding: 120px 10px
    }
    table{
        font-size: 0.8rem;
    }

    #info-section{
        padding: 50px 20px;
        margin-top: 100px;
    }



    /* updates page */
    #article-header{
        padding: 20px;
    }
    #article-header h2{
        font-size: 2rem;
        background-color:rgb(32, 18, 51);
        color: wheat;
        text-align: center;
        padding: 10px;
        
    }
    
}

